body {
    background-color:black;
    text-align:center;
}
h1 {
    color:white;
    font-family:consolas;
}
p {
    color:white;
    font-family:consolas;
}
a:link, a:visited {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    margin: 5px;
    color:black;
    font-family: consolas;
    text-decoration: none;
}
a:hover {
    background-color: rgb(185, 182, 182);
}
